body{
    color: #fafafa;
}
.box-blue {
    background-color: #2ebcfc;
}

.box-darker {
    padding-top: 64px;
    background-color: #03a9f4;
}
.block{
    margin-bottom: 64px;
}
.full-height {
   min-height: 100vh;
    overflow: auto;
    padding-bottom: 10vh;
}

#top {
    padding-top: 30vh;
}

h1 {
    font-size: 4em;
}
h3{
    margin-top: 32px;
}

p{
    font-size: 20px;
}
.blockquote{
    font-size: 16px;
}