body{
    color: #fafafa;
}
.box-blue {
    background-color: #2ebcfc;
}

.box-darker {
    background-color: #038fce;
}
.block{
    margin-top: 64px;
}
.full-height {
   min-height: 100vh;
    overflow: auto;
    padding-bottom: 10vh;
}

#top {
    padding-top: 30vh;
}
blockquote{
    border-left: #3f51b5;
    border-width: 4px;
}
.blockquote-footer{
    color: #a0dffb;
}
footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#result{
    color: #3f51b5;
}